@import "tailwindcss";
@import "tw-animate-css";
@import "./_root.css";
@import "./transitions.css";

@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

*{
  box-sizing:border-box;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

:root {
  --bg-dark: oklch(0.1 0 264);
  --bg-light: oklch(0.3 0 264);
  --colora: #ffffff;
}

.light {
  --foreground: oklch(0.145 0 0);
  --bg: oklch(0.985 0 0);
  --shadow:
    inset 0 -0.01px 0.6px #00000010, 0 1px 2px #00000005, 0 1px 2px 2px #00000005,
    0 1px 1px #00000002;
  --shadow-s:
    inset 0 1px 2px #00000005, 0 1px 2px 2px #00000005, 0 2px 2px #00000005;
  --shadow-m:
    inset 0 1px 2px #00000008, 0 1px 2px 2px #00000008, 0 2px 2px #00000008;
  --shadow-l:
    inset 0 1px 2px #00000010, 0 1px 2px 2px #00000010, 0 2px 2px #00000010;

  --sand-1: #fdfdfc;
  --sand-2: #f9f9f8;
  --sand-3: #f1f0ef;
  --sand-4: #e9e8e6;
  --sand-5: #e2e1de;
  --sand-6: #dad9d6;
  --sand-7: #cfceca;
  --sand-8: #bcbbb5;
  --sand-9: #8d8d86;
  --sand-10: #82827c;
  --sand-11: #63635e;
  --sand-12: #21201c;
}

.dark {
  --foreground: #ededed;
  --bg: oklch(16.376% 0.00002 271.152);
  --shadow:
    inset 0 -0.01px 0.6px #ffff, 0 1px 2px #00000030, 0 1px 2px 2px #00000030,
    0 1px 1px #00000015;
  --shadow-s:
    inset 0 1px 2px #ffffff30, 0 1px 2px 2px #00000030, 0 2px 2px #00000015;
  --shadow-m:
    inset 0 1px 2px #ffffff50, 0 1px 2px 2px #00000030, 0 2px 2px #00000015;
  --shadow-l:
    inset 0 1px 2px #ffffff70, 0 1px 2px 2px #00000030, 0 2px 2px #00000015;

  --sand-1: #111110;
  --sand-2: #191918;
  --sand-3: #222221;
  --sand-4: #2a2a28;
  --sand-5: #31312e;
  --sand-6: #3b3a37;
  --sand-7: #494844;
  --sand-8: #62605b;
  --sand-9: #6f6d66;
  --sand-10: #7c7b74;
  --sand-11: #b5b3ad;
  --sand-12: #eeeeec;
}

:root {
  --fd-layout-width: 0px;
  --lg-sidebar-width:300px;
  --fd-sidebar-width: 240px;
  --fd-sidebar-col: 268px;
  --fd-toc-width: 268px;
  --fd-docs-height: 100vh;
}

body {
  overflow-x: hidden;
  scrollbar-width: none;
}

.web-logo{
  border-radius: 9999px;
}

::-webkit-scrollbar {
  display: none;
}

.button {
  border-radius: 30px;
  padding: 10px 20px;
  overflow: hidden;
  transition: transform 0.6s ease;
  cursor: pointer;
}

.button::before {
  --colora2: #ff6a00;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(to left,
      var(--colora) 35%,
      var(--colora2) 80%,
      var(--colora) 108%);
  z-index: 0;
  border-radius: 8px;
  background-size: 200% auto;
}


@media (min-width: 1024px) {
  .sidebar {
    display: grid;
    grid-template-areas:
      "sidebar header"
      "sidebar toc-popover"
      "sidebar main";
    grid-template-columns:auto 2fr;
    grid-template-rows: auto auto 1fr;
  }
}

/* Desktop: sidebar remains fixed and independently scrollable — main scroll hitting bottom won't drag it */
.grid-sidebar {
  grid-area: sidebar;
}

.grid-main {
  grid-area: main;
}

.grid-toc {
  grid-area: toc;
}

/* Code Loading Spinner Animation */
.spinner_zWVm {
  animation: spinner_5QiW 1.2s linear infinite, spinner_PnZo 1.2s linear infinite;
}
.spinner_gfyD {
  animation: spinner_5QiW 1.2s linear infinite, spinner_4j7o 1.2s linear infinite;
  animation-delay: 0.1s;
}
.spinner_T5JJ {
  animation: spinner_5QiW 1.2s linear infinite, spinner_fLK4 1.2s linear infinite;
  animation-delay: 0.1s;
}
.spinner_E3Wz {
  animation: spinner_5QiW 1.2s linear infinite, spinner_tDji 1.2s linear infinite;
  animation-delay: 0.2s;
}
.spinner_g2vs {
  animation: spinner_5QiW 1.2s linear infinite, spinner_CMiT 1.2s linear infinite;
  animation-delay: 0.2s;
}
.spinner_ctYB {
  animation: spinner_5QiW 1.2s linear infinite, spinner_cHKR 1.2s linear infinite;
  animation-delay: 0.2s;
}
.spinner_BDNj {
  animation: spinner_5QiW 1.2s linear infinite, spinner_Re6e 1.2s linear infinite;
  animation-delay: 0.3s;
}
.spinner_rCw3 {
  animation: spinner_5QiW 1.2s linear infinite, spinner_EJmJ 1.2s linear infinite;
  animation-delay: 0.3s;
}
.spinner_Rszm {
  animation: spinner_5QiW 1.2s linear infinite, spinner_YJOP 1.2s linear infinite;
  animation-delay: 0.4s;
}

@keyframes spinner_5QiW {
  0%, 50% {
    width: 7.33px;
    height: 7.33px;
  }
  25% {
    width: 1.33px;
    height: 1.33px;
  }
}
@keyframes spinner_PnZo {
  0%, 50% {
    x: 1px;
    y: 1px;
  }
  25% {
    x: 4px;
    y: 4px;
  }
}
@keyframes spinner_4j7o {
  0%, 50% {
    x: 8.33px;
    y: 1px;
  }
  25% {
    x: 11.33px;
    y: 4px;
  }
}
@keyframes spinner_fLK4 {
  0%, 50% {
    x: 1px;
    y: 8.33px;
  }
  25% {
    x: 4px;
    y: 11.33px;
  }
}
@keyframes spinner_tDji {
  0%, 50% {
    x: 15.66px;
    y: 1px;
  }
  25% {
    x: 18.66px;
    y: 4px;
  }
}
@keyframes spinner_CMiT {
  0%, 50% {
    x: 8.33px;
    y: 8.33px;
  }
  25% {
    x: 11.33px;
    y: 11.33px;
  }
}
@keyframes spinner_cHKR {
  0%, 50% {
    x: 1px;
    y: 15.66px;
  }
  25% {
    x: 4px;
    y: 18.66px;
  }
}
@keyframes spinner_Re6e {
  0%, 50% {
    x: 15.66px;
    y: 8.33px;
  }
  25% {
    x: 18.66px;
    y: 11.33px;
  }
}
@keyframes spinner_EJmJ {
  0%, 50% {
    x: 8.33px;
    y: 15.66px;
  }
  25% {
    x: 11.33px;
    y: 18.66px;
  }
}
@keyframes spinner_YJOP {
  0%, 50% {
    x: 15.66px;
    y: 15.66px;
  }
  25% {
    x: 18.66px;
    y: 18.66px;
  }
}

.xl\:text-ln-title-h2 {
        font-size: 3rem;
        line-height: 80px;
        letter-spacing: -.03em;
        font-weight: 550;
}
.xl\:ln-paragraph-lg{
   font-size: 72px;
        line-height: 80px;
        letter-spacing: -.03em;
        font-weight: 550;
}